body {
    font-family: 'Pacifico', cursive;
    background: #e8f0f1; /* Light Blue background */
    margin: 0;
    padding: 0;
    color: #1a237e; /* Dark Blue text color */
}

h1,
h2 {
    font-family: 'Pacifico', cursive;
}

p.status {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(37, 212, 66);

}

/* ... (other styles remain unchanged) */